@using Tasin.Website.DAL.Services
@model Tasin.Website.Models.ViewModels.AccountViewModels.LoginViewModel

@inject IApplicationConfiguration AppSettings
@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
    int numOfLoginFailed = 1;
    int.TryParse(ViewBag.NumOfLoginFailed.ToString() ?? 0, out numOfLoginFailed);
    var UIConfig = ViewBag.UIConfig;
    bool isLock = (bool)ViewBag.IsLock;

}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="@AppSettings.WebsiteInfo.SiteUILogoUrl">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Đăng nhập</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/js/jquery-ui.min.js"></script> *@
    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


    <link href="~/lib/kendo/styles/kendo.common.min.css" rel="stylesheet">
    <link href="~/lib/kendo/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="~/lib/kendo/styles/c3n.css" rel="stylesheet">
    <link href="~/lib/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet">
    <link href="~/lib/fontawesome-free-6.5.2-web/css/all.min.css" rel="stylesheet" />
    <link href="~/css/notification-common.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
    <link href="~/css/login/main.css" rel="stylesheet">
    <link href="~/css/login/responsive.css" rel="stylesheet">
    <script src="~/js/login/custom.js"></script>
    <script type="text/javascript">

        const isMobile = {
            Android: function () {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function () {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function () {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function () {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function () {
                return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
            },
            any: function () {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };

    </script>


</head>

<body>
    <!-- Top menu -->
    <header style="background-image: linear-gradient(#ffffff, #ffbc00); display:none;">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header main-logo">
                    @* <a class="navbar-brand" href="#"><img src="/content/images/logo.png" alt="Cat Lai logo" style="width:100px"></a> *@
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <ul class="nav navbar-nav navbar-right" style="list-style: none;">
                    @if (string.IsNullOrEmpty(AppSettings.WebsiteInfo.NameWebsite))
                    {
                        <li class="site-title">Login</li>
                    }
                    else
                    {
                        <li class="site-title">@AppSettings.WebsiteInfo.NameWebsite</li>
                    }

                </ul>

            </div><!-- /.container -->
        </nav>
    </header>
    <!-- Begin page content -->
    <div class="top-content" style=" height: 100vh;">



        <div class="inner-bg">
            <div class="container">
                <div class="row row-no-margin">
                    <div class="empty">
                    </div>
                    <div class="login-form">

                        <div class="form-top">
                            <div class="form-top-left">
                                <img src="@AppSettings.WebsiteInfo.SiteUILogin">
                                <h3>@AppSettings.WebsiteInfo.NameWebsite</h3>
                            </div>
                        </div>
                        <div class="form-bottom">
                            @if (isLock)
                            {
                                <div class="validation-summary-warning">
                                    <ul>
                                        <li>Tài khoản <b>@ViewBag.UserNameLoginFailed</b> đã bị khóa vì đăng nhập sai quá
                                            @ViewBag.MaxNumOfLoginFailed lần. Vui lòng liên hệ phòng IT để được trợ giúp
                                        </li>
                                    </ul>
                                </div>
                            }

                            <form asp-controller="Account" asp-action="Login" method="Post"
                                asp-route-returnurl="@ViewData["ReturnUrl"]">
                                <div class="form-group">
                                    <label class="label" for="form-first-name">Tên đăng nhập</label>
                                    <input type="text" maxlength="50" placeholder="Tài khoản"
                                        class="form-user-name form-control w-100" name="UserName" id="username"
                                        value="@ViewBag.Username">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="label" for="password">Mật khẩu</label>
                                    <input type="password" maxlength="50" placeholder="Mật khẩu"
                                        class="form-user-pass form-control w-100" name="Password" id="password"
                                        value="@ViewBag.Password">
                                    <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <input hidden name="IsMobile" id="isMobile" />

                                @if (numOfLoginFailed > 0)
                                {
                                    <div class="form-group">
                                        <label class="label" for="form-box">Mã bảo mật</label>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <input class="form-control" autocomplete="off" placeholder="Mã bảo mật"
                                                    name="Captcha" />
                                            </div>
                                            <div class="col-xs-5" style="padding-left: 0">
                                                <img src="/Captcha?width=120&height=35" />
                                                <i class="fa fa-refresh" id="refreshCaptcha"></i>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
                                @*  <div class="form-links">
                                <div class="form-check">
                                @if (ViewBag.Rememberme == true)
                                {
                                <input id="RememberMe" name="RememberMe" class="form-check-input" value="true" type="checkbox" checked="checked" />
                                }
                                else
                                {
                                <input id="RememberMe" name="RememberMe" class="form-check-input" value="true" type="checkbox" />
                                }
                                <label class="form-check-label" for="RememberMe">
                                Nhớ đăng nhập
                                </label>
                                <a href="#" class="forgotten_link pull-right" data-modal-id="modal-privacy">Quên mật khẩu?</a>
                                </div>
                                </div> *@

                                @if (isLock)
                                {
                                    <button type="button" disabled class="btn btn-login">Đăng Nhập</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-login">Đăng Nhập</button>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="backstretch">
            @if (!string.IsNullOrEmpty(AppSettings.WebsiteInfo.SiteUILoginBackgroundUrl))
            {
                <img src=@AppSettings.WebsiteInfo.SiteUILoginBackgroundUrl alt="Background">
            }
            else
            {
                @* <img src="~/content/images/theme/login-background.jpg" alt="Background"> *@
            }

        </div>
    </div><!-- End Begin page content -->


    <span id="notification" style="display:none;"></span>

    <script id="wrongTemplate" type="text/x-kendo-template">
        <div class="wrong-temp">
            <div class="notification-content">
                <div class="notification-icon">
                    <i class="fa-solid fa-exclamation-triangle"></i>
                </div>
                <div class="notification-text">
                    <h3 class="notification-title">#= title #</h3>
                    <p class="notification-message">#= message #</p>
                </div>
            </div>
            <div class="notification-progress"></div>
        </div>
    </script>

    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <div class="notification-content">
                <div class="notification-icon">
                    <i class="fa-solid fa-times-circle"></i>
                </div>
                <div class="notification-text">
                    <h3 class="notification-title">#= title #</h3>
                    <p class="notification-message">#= message #</p>
                </div>
            </div>
            <div class="notification-progress"></div>
        </div>
    </script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="upload-success">
            <div class="notification-content">
                <div class="notification-icon">
                    <i class="fa-solid fa-check-circle"></i>
                </div>
                <div class="notification-text">
                    <h3 class="notification-title">#= title #</h3>
                    <p class="notification-message">#= message #</p>
                </div>
            </div>
            <div class="notification-progress"></div>
        </div>
    </script>

    <script type="text/javascript">
        localStorage.removeItem("_MnList");
        localStorage.removeItem("_homeUrl");
        var notification = $("#notification").kendoNotification({
            position: {
                pinned: true,
                bottom: 20,
                right: 20
            },
            autoHideAfter: 5000,
            stacking: "up",
            animation: {
                open: {
                    effects: "slideIn:right",
                    duration: 400
                },
                close: {
                    effects: "slideIn:right",
                    reverse: true,
                    duration: 300
                }
            },
            templates: [{
                type: "warning",
                template: $("#wrongTemplate").html()
            }, {
                type: "error",
                template: $("#errorTemplate").html()
            }, {
                type: "success",
                template: $("#successTemplate").html()
            }],
            show: function (e) {
                $(".k-notification").closest(".k-animation-container").addClass("customClass");

                // Add progress bar animation
                var progressBar = e.element.find('.notification-progress');
                if (progressBar.length > 0) {
                    progressBar.css('animation-duration', '5s');
                }
            }

        }).data("kendoNotification");
    </script>

    <script type="text/javascript">

        const messageNotification = '@ViewBag.Notification';
        if (messageNotification != '') {
            notification.show({
                title: "Thông báo",
                message: messageNotification,
            }, "error");
        }
    </script>
    @if (numOfLoginFailed > 0)
    {




        <script type="text/javascript">
            $(document).ready(function () {
                $("#refreshCaptcha").on("click", function () {
                    var img = $(this).parent().children("img")[0];
                    img.src = "/Captcha?width=120&height=35&t=" + (new Date().getTime());
                });
            });
            console.log("#username");
            //$("#username")
        </script>
    }

    <script type="text/javascript">

        $(document).ready(function () {
            $("#isMobile").val(isMobile.any() ? true : false);

        });
    </script>



</body>

</html>
